<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sweet and savory Market!</title>
    <link rel='stylesheet' href='~/css/bootstrap.css'>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
